* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 60px;
}

body {
  background: #fff;
  font-family: "DM Sans", sans-serif;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
  background-color: #fff;
  opacity: 1;
}

nav {
  height: 59px;
  display: flex;
  position: relative;
  width: 80%;
  top: 20px;
  right: 10%;
  left: 10%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #666;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 10px;
}

.logo {
  align-self: flex-start;
}

.logo img {
  position: relative;
  width: 74px;
  height: 61px;
  flex-shrink: 0;
}

@media only screen and (max-width: 919px) {
  nav {
    height: 59px;
    width: 100%;
    min-width: 748px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}

.welcomemsg {
  display: flex;
  width: 80%;
  position: relative;
  left: 10%;
  right: 10%;
  top: 80px;
  height: 350px;
  padding-top: 19px;
  justify-content: center;
  align-items: center;
  gap: 219px;
  flex-shrink: 0;
}

.welcomemsg h3 {
  color: var(--Solid-Heading, #42446e);
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.profile-photo img {
  width: 349px;
  height: 349px;
  flex-shrink: 0;
}

.welcomemsg h3 span {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.welcome-content {
  min-width: 415px;
}

@media only screen and (max-width: 1058px) {
  .welcomemsg {
    display: flex;
    width: 100%;
    position: relative;
    top: 80px;
    height: 350px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    min-width: 836px;
    padding: 40px;
    left: 20px;
    right: 20px;
  }

  .welcome-content {
    min-width: none;
  }

  .welcomemsg h3 {
    color: var(--Solid-Heading, #42446e);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
  }

  .welcomemsg h3 span {
    background: var(
      --Gradient-Heading,
      linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
  }
}

.about-container,
.techstack-container,
.contact-container,
.project-container {
  background-color: #fff;
  position: relative;
  width: 80%;
  top: 60px;
  right: 10%;
  height: auto;
  left: 10%;
}

.about-container .about-heading,
.experience-heading {
  color: #42446e;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.layout {
  width: 708px;
}

.about-content {
  color: var(--dark-content, #666);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}

.experience-contianer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-type {
  width: 84px;
  height: 24px;
  color: #018c0f;
  background-color: #d7ffe0;
  border-radius: 10px;
  border: none;
}

.company-location .company,
.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-title {
  color: var(--dark-content, #666);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: 1px;
}

.company p,
.location p,
.duration p {
  color: var(--light-Content, #a7a7a7);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-left: 10px;
}

.material-symbols-outlined {
  color: var(--light-Content, #a7a7a7);
  font-size: 12px !important;
}

.company-location {
  display: flex;
  width: 392px;
  height: 17px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tech-stack {
  position: relative;
}

.end {
  height: 59px;
  display: flex;
  position: relative;
  width: 80%;
  /* top: 540px; */
  top: 50px;
  padding: 30px;
  bottom: 0;
  right: 10%;
  left: 10%;
  align-items: center;
  justify-content: space-between;
}

.end ul {
  display: flex;
}

.end ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #666;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 10px;
}

main {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 919px) {
  .end {
    height: 59px;
    width: 100%;
    min-width: 748px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}

/* Styles for the tech stack page */

.techstack-container h2,
.project-container h2 {
  color: var(--Solid-Heading, #42446e);
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 61.905% */
  margin-top: 60px;
  margin-bottom: 20px;
}

.techstack-container p,
.project-container p {
  color: var(--dark-content, #666);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  margin-bottom: 60px;
}

.stack-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.stack-icons a {
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}
.stack-icons img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 180px;
}

.stack-icons img:hover,
.stack-icons svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

@media only screen and (max-width: 990px) {
  .techstack-container,
  .contact-container,
  .projects {
    min-width: 700px;
  }
}

.contact-container {
  align-items: center;
  z-index: 10;
  /* margin-top: 50px; */
}

.contact-container h2 {
  margin-top: 120px;
  color: var(--colors-heading, #1e0e62);
  text-align: center;

  /* Heading / H2 Header */
  font-family: DM Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.contact-container p {
  text-align: center;

  /* Heading / H2 Header */
  font-family: DM Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.other-footer {
  height: 59px;
  display: flex;
  position: relative;
  width: 80%;
  right: 10%;
  left: 10%;
  z-index: 1000;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.projects {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project1 {
  width: 320px;
  height: 680px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}

.project1 img {
  width: 320px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #d9d9d9;
}

.project-content {
  width: 90%;
  position: relative;
  left: 5%;
  right: 5%;
}

.project1 h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 92.857% */
  margin-top: 20px;
  margin-bottom: 20px;
}

.project1 p {
  color: var(--dark-content, #666);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 144.444% */
  margin-bottom: 20px;
}

.project1 h2 {
  color: var(--Solid-Heading, #42446e);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  margin-top: 0;
}

.code {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link img,
.git img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.link a,
.git a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-decoration-line: underline;
}
